* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #66d1c1, #3aa7c9);
  padding: 30px;
}

.container {
  max-width: 1100px;
  margin: auto;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.dashboard {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}

/* CARD STYLE */
.form-section,
.events-section,
.demo-section {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.form-section {
  flex: 1;
}

.events-section {
  flex: 2;
}

h2 {
  color: #3a4f7a;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  height: 80px;
  resize: none;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  background: linear-gradient(135deg, #3aa7c9, #5ec4c5);
  color: white;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

.controls {
  display: flex;
  gap: 20px;
  /* margin-bottom: 20px; */
}

.controls button {
  flex: 1;              /* dono equal width */
  height: 40px;
  font-size: 14px;
  border-radius: 8px;
}

/* GRID FOR EVENTS */
#eventContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* EVENT CARD */
.event-card {
  background: linear-gradient(135deg, #dbeafe, #bfdbfe);
  padding: 18px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-card h3 {
  margin-bottom: 8px;
}

.event-card span {
  display: inline-block;
  background: #4f46e5;
  color: white;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 12px;
  margin: 8px 0;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff4d4d;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 12px;
}

.empty-state {
  grid-column: span 2;
  text-align: center;
  color: gray;
  margin-top: 20px;
}

/* DEMO SECTION */
.demo-box {
  background: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
}

/* My Events section*/
.events-section {
  display: flex;
  flex-direction: column;
}

/* Buttons section */
.controls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;   /* important spacing */
}

/* Event cards container */
#eventContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: static;   
}
